---
name: Secret Scan

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: truffleHog OSS
        uses: trufflesecurity/trufflehog@v3.90.13
        with:
          scanArguments: --only-verified
